@import url(./reset.css);
* {
  box-sizing: border-box;
  font-family: gilam;
}

.section {
  display: flex;
  background-color: black;
}

.wrapper {
  width: 1920px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 128px;
}

.header-icon {
  width: 216px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 50px;
  text-decoration: none;
  font-family: "Circe";
  color: rgba(228, 181, 100, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  border: 1px solid #e4b564;
}

.link-phone-text {
  width: 13px;
  height: 13px;
}

.main {
  color: white;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
}

.title {
  font-size: 50px;
}

.title-1 {
  padding-bottom: 41px;
}

.text {
  width: 1182px;
  padding-bottom: 41px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  gap: 35px;
  padding-bottom: 161px;
}

.grid-item-1 {
  grid-area: 1 / 1 / 2 / 3;
  background-color: #634f2c;
}
.grid-item-2 {
  background-color: #b4a385;
  grid-area: 1 / 3 / 2 / 5;
}
.grid-item-3 {
  background-color: #e4b564;
  grid-area: 1 / 5 / 2 / 7;
}
.grid-item-4 {
  background-color: #635a4a;
  grid-area: 2 / 1 / 3 / 4;
}
.grid-item-5 {
  background-color: #b08c4d;
  grid-area: 2 / 4 / 3 / 7;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-2 {
  padding-bottom: 94px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(20, 44px);
  gap: 30px;
  padding-bottom: 192px;
}

.grid-2-item {
  display: block;
  font-size: 20px;
  padding-top: 44px;
  padding-left: 50px;
}

.grid-2-item-1 {
  grid-area: 1 / 1 / 8 / 2;
  background: #0e0e0e;
}
.grid-2-item-2 {
  grid-area: 8 / 1 / 21 / 2;
  background: #1f1f1f;
}
.grid-2-item-3 {
  grid-area: 1 / 2 / 11 / 3;
  background: #242424;
}
.grid-2-item-4 {
  grid-area: 11 / 2 / 21 / 3;

  background: #e4b564;
  color: #0e0e0e;
}
.grid-2-item-4 {
  grid-area: 11 / 2 / 21 / 3;
  background: #e4b564;
}
.grid-2-item-5 {
  grid-area: 1 / 3 / 6 / 4;
  background: #1f1f1f;
}
.grid-2-item-6 {
  grid-area: 6 / 3 / 14 / 4;
  background: #0e0e0e;
}
.grid-2-item-7 {
  grid-area: 14 / 3 / 21 / 4;
  background: #0a0909;
}
.title-clients {
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 391px);
  margin-bottom: 239px;
}
.grid-3-item-1 {
  background: #634f2c;
}
.grid-3-item-2 {
  background: rgba(232, 210, 171, 0.76);
}
.grid-3-item-3 {
  background: #e4b564;
}
.grid-3-item-4 {
  background: #635a4a;
}
.grid-3-item-5 {
  background: #b08c4d;
}
.grid-3-item-6 {
  background: #634f2c;
}
.grid-3-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper-small {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-small {
  width: 326px;
}
.img-2-1 {
  width: 62px;
}
.img-2-2 {
  width: 139px;
}
